<div class="container">
  <form #f="ngForm" (ngSubmit)="submitClick(f)">
    <div class="form-group">
      <label>Name</label>
      <input required type="text" pattern="sujan" class="form-control" #username="ngModel" ngModel name="username" (change)="log(username)" >
      <div class="alert alert-danger" *ngIf="!username.valid && username.touched">
        <h4 *ngIf="username.errors.required">The name is required.</h4>
        <h5 *ngIf="username.errors.pattern">do not match with pattern</h5>
      </div>
      <label>Commment</label>
      <input type="text" class="form-control" ngModel name="comment" placeholder="Enter the comment !!">
    <br>
      <input type="password" minlength="3" maxlength="9" class="form-control" #check="ngModel" ngModel name="pass" placeholder="Enter Password">  
     <div *ngIf="check.touched && !check.valid" class="alert alert-info">
      <h5 *ngIf="check.errors.minlength" >Minimun length should be 3</h5>
  </div>
  </div>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
